footer.l-footer
    .container.text-center
        .col-sm-4
            ul.footer-list
                li
                    a(href="#") About Us
                li
                    a(href="#") Awards and Trends
                li
                    a(href="#") Blog
        .col-sm-4
            ul.footer-list
                li
                    a(href="/contact") Contact
                li
                    a(href="#") Community
                li
                    a(href="#") Help
        .col-sm-4
            ul.footer-list
                li
                    a(href="/contact") Facebook
                li
                    a(href="#") YouTube
                li
                    a(href="#") Twitter
    .container.text-center
        p.pull-left Copyright © 2018, ReviveLife 
        a.facebook(href="#")
            i.fa.fa-facebook
        a.youtube(href="#")
            i.fa.fa-youtube
